doctype html
html 
    head
        title Todos
        link(rel="stylesheet", href="css/index.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        form(class="form-group container" method="POST")
            input(type="Number" class="form-control" placeholder="Give Object Id"  name="id")
            input(type="submit" class="btn btn-primary" value="Delete")