doctype html
html 
    head
        title Todos
        link(rel="stylesheet", href="css/index.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        form(class="form-group container" method="POST")
            input(type="text" class="form-control" id="todoTask" placeholder="Enter Todays Task" name="toDoTask")
            input(type="submit" class="btn btn-primary" value="Add")
        
        ul
            each n in name
                li= n.toDoTask
                    button(class="btn btn-danger float-right" id="danger") Delete
                    button(class="btn btn-primary float-right" id="edit") Edit
                    

        


    
