#todoTask {
  display: inline-block;
  width: 40%;
}

li {
  list-style-type: none;
  margin: 4px;
  border: 2px solid black;
  width: 70%;
  padding: 5px;
  height: 50px;
}

#danger {
  margin-right: 4px;
}

#edit {
  margin-right: 4px;
}

#cmpltask {
  float: right;
  margin-right: 10px;
  display: inline;
}

#save {
  margin-right: 4px;
}

p {
  display: inline;
}

#check {
  display: inline-block;
  margin: 15px;
}
